/***********************************************
			      Integral CF
************************************************/

@font-face {
    font-family: 'Integral CF';
    src: url('fonts/integral-cf/subset-IntegralCF-Heavy.eot');
    src: url('fonts/integral-cf/subset-IntegralCF-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/integral-cf/subset-IntegralCF-Heavy.woff2') format('woff2'),
        url('fonts/integral-cf/subset-IntegralCF-Heavy.woff') format('woff'),
        url('fonts/integral-cf/subset-IntegralCF-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-smooth: always;
}

@font-face {
    font-family: 'Integral CF';
    src: url('fonts/integral-cf/subset-IntegralCF-Regular.eot');
    src: url('fonts/integral-cf/subset-IntegralCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/integral-cf/subset-IntegralCF-Regular.woff2') format('woff2'),
        url('fonts/integral-cf/subset-IntegralCF-Regular.woff') format('woff'),
        url('fonts/integral-cf/subset-IntegralCF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-smooth: always;
}


/***********************************************
			        Rawline
************************************************/

@font-face {
    font-family: 'Rawline';
    src: url('fonts/rawline/subset-Rawline-BoldItalic.eot');
    src: url('fonts/rawline/subset-Rawline-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/rawline/subset-Rawline-BoldItalic.woff2') format('woff2'),
        url('fonts/rawline/subset-Rawline-BoldItalic.woff') format('woff'),
        url('fonts/rawline/subset-Rawline-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    font-smooth: always;
}

@font-face {
    font-family: 'Rawline';
    src: url('fonts/rawline/subset-Rawline-Bold.eot');
    src: url('fonts/rawline/subset-Rawline-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/rawline/subset-Rawline-Bold.woff2') format('woff2'),
        url('fonts/rawline/subset-Rawline-Bold.woff') format('woff'),
        url('fonts/rawline/subset-Rawline-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-smooth: always;
}

@font-face {
    font-family: 'Rawline';
    src: url('fonts/rawline/subset-Rawline-Italic.eot');
    src: url('fonts/rawline/subset-Rawline-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/rawline/subset-Rawline-Italic.woff2') format('woff2'),
        url('fonts/rawline/subset-Rawline-Italic.woff') format('woff'),
        url('fonts/rawline/subset-Rawline-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    font-smooth: always;
}

@font-face {
    font-family: 'Rawline';
    src: url('fonts/rawline/subset-Rawline-Regular.eot');
    src: url('fonts/rawline/subset-Rawline-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/rawline/subset-Rawline-Regular.woff2') format('woff2'),
        url('fonts/rawline/subset-Rawline-Regular.woff') format('woff'),
        url('fonts/rawline/subset-Rawline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-smooth: always;
}

