/***********************************************
			      General Styles
************************************************/
html {
	scroll-behavior: smooth;
	background: $sec-col-d url(images/backgrounds/background.jpg) repeat-y;
	background-attachment: fixed;
}
body {
	font-size: 18px;
	font-family: $text-font;
	
	color: $white;
	line-height: 1.5;
	background: url(images/backgrounds/sky.png) repeat-y;
	background-size: 100% auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title-font;
	font-weight: 900;
	line-height: 1;
}

h1 {
	font-size: $title-1;

	@media(max-width: 991px) {
		font-size: $title-2;
	}
}

h2 {
	font-size: $title-2;

	@media(max-width: 991px) {
		font-size: $title-3;
	}
}

h3 {
	font-size: $title-3;

	@media(max-width: 991px) {
		font-size: $title-4;
	}
}

h4 {
	font-size: $title-4;

	@media(max-width: 991px) {
		font-size: $title-5;
	}
}

h5 {
	font-size: $title-5;

	@media(max-width: 991px) {
		font-size: $title-6;
	}
}

h6 {
	font-size: $title-6;

	@media(max-width: 991px) {
		font-size: $normal;
	}
}

a {
	@include tr($tr);
	color: $main-col;

	&:hover {
		text-decoration: none;
		color: $main-col;
	}

	&:not([class]) {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -7px;
			height: 3px;
			width: 0;
			opacity: 0;
			background: $main-col;
			@include tr($tr);
			@include br($br);
		}

		&:hover {
			&:before {
				width: 100%;
				opacity: .4;
			}
		}
	}
}

::selection {
	color: $sec-col-d;
	background: $main-col;
}


@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1230px;
	}
}

/***********************************************
			   General Classes
************************************************/
// .sky {
// 	background: url(images/backgrounds/sky.png) no-repeat;
// 	background-size: 100% auto;
// }

.main-title {
	font-size: $huge;

	@media (max-width: 991px) {
		font-size: $title-1;
	}

	@media (max-width: 767px) {
		font-size: $title-2;
	}
}

.roadmap-title {
	text-shadow: 0 0 20px $sec-col-d;
}

.section-title {
	font-size: $title-1;	

	.title-small {
		color: $main-col-d;
		font-size: $title-3;
	}

	&.title-sizes {
		display: inline-flex;
		align-items: center;

		.middle-title {
			font-size: $title-2;
		}
	}

	@media (max-width: 991px) {
		font-size: $title-2;

		.title-small {
			font-size: $title-4;
		}

		&.title-sizes {
			.middle-title {
				font-size: $title-3;
			}
		}
	}
}

.sub-title {
	font-family: $text-font;
	font-weight: 400;
}

.top-title {
	font-family: $text-font;
	font-weight: 600;
	color: $sec-col-l;
	text-transform: uppercase;
}

.text-primary {
	color: $main-col !important;
}

.text-secondary {
	color: $sec-col-b !important;
}

.text-muted {
	color: rgba($white, .6) !important;
}

.quotes {
	position: relative;
	display: inline-block;

	.quote-mark {
		position: absolute;
		z-index: -1;

		&:first-child {
			margin-left: -18px;
			top: -15px;
		}

		&:last-child {
			bottom: -15px;
			margin-left: -30px;
		}
	}
}

.crown {
	position: absolute;
	top: -64px;
	left: 50%;
	transform: translate(-50%, 0);
}

.glasses {
	position: absolute;
	top: -34px;
	left: 50%;
	transform: translate(-50%, 0);
}

.hat {
	position: absolute;
	top: -23px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: -1;
}

.meteorit-top {
	position: relative;

	&:before {
		content: "";
		display: block;
		position: absolute;
		background: url(images/half-meteorit.png) no-repeat;
		width: 137px;
		height: 194px;
		top: 0;
		left: 0;
		@extend .astro-levitation;
		z-index: -1;

		@media (max-width: 767px) {
			display: none;
		}
	}
}

.meteorit-bottom {
	position: relative;

	&:before {
		content: "";
		display: block;
		position: absolute;
		background: url(images/half-meteorit-2.png) no-repeat;
		width: 143px;
		height: 240px;
		left: 0;
		bottom: 0;
		@extend .astro-levitation;
		z-index: 0;

		@media (max-width: 767px) {
			display: none;
		}
	}
}

.meteorits {
	position: relative;

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		@extend .astro-levitation;
		z-index: -1;
	}

	&:before {
		width: 94px;
		height: 235px;
		left: 0;
		top: 15%;
		background: url(images/half-meteorit-3.png) no-repeat;
	}
}

/***********************************************
			      Modals
************************************************/

.modal-open .modal.show{
	display: flex !important;
	align-items: center !important;
}

.modal-lg {
	max-width: 1200px;

	@media (max-width: 576px) {
		max-width: 500px !important;
	}
}

.modal-content {
	background: none;
	border: none;
	@include br($br);
	position: relative;

	.close {
		position: absolute;
		right: 0;
		bottom: 101%;
		color: $main-col;
		font-size: 2rem;
		opacity: 1;
		-webkit-text-shadow: none;
		text-shadow: none;
		@include tr($tr);
	}
}

/***********************************************
			      Buttons
************************************************/
.btn {
	@include br($br);
	@include shadow($btn-shadow);
	padding: 13px 45px;
	border-width: 2px;
	display: inline-flex;
	align-items: center;

	&.btn-primary {
		border-color: $white;
		color: $white;
		background: $sec-col-m;
		position: relative;

		&:hover {
			@include shadow($btn-shadow-hover);
		}
	}

	.icon {
		margin-right: 10px;
		font-size: $title-6;
	}
}

/***********************************************
			      Header
************************************************/
.header {
	.navbar-dark {
		background: $dark-gradient;

		@media (max-width: 991px) {
			background: rgba($sec-col-d, .95);
		}

		.navbar-nav  {
			text-align: center;
		}

		.nav-item {
			.nav-link {
				@media (max-width: 991px) {
					padding-top: 10px;
					padding-bottom: 10px;
					text-align: center;
				}
			}
		}

		.social-icons {
			justify-content: center;
			margin-top: 10px;
		}
	}
}

.navbar-nav {
	.nav-item {
		.nav-link {
			color: $white;
			text-transform: uppercase;
			padding: 0 10px;

			&:hover {
				color: $main-col;
			}
		}
	}
}

.social-icons {
	padding: 0;
	margin: 0;
	display: flex;

	li {
		list-style: none;
		padding: 0;
		margin: 0 4px;

		a {
			color: $white;
			color: rgba($white, .8);
			display: block;
			width: 42px;
			height: 42px;
			display: flex;
			justify-content: center;
			align-items: center;
			@include br($circle);
			background: $sec-col-m;

			&:hover {
				transform: rotate(360deg);
				background: $sec-col-l;

				&:before {
					display: none;
				}
			}
		}
	}
}


/***********************************************
			      Hero Section
************************************************/
#hero {
	height: 100vh;
	min-height: 800px;
	padding-top: 72px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;

	@media (max-width: 600px) {
		min-height: 650px;
	}

	@media (max-width: 400px) {
		min-height: 540px;
	}

	.hero-bear {
		max-width: 80%;
	}

	.scroll-down {
		align-self: center;
		color: $sec-col-l;
		display: flex;
		flex-direction: column;
		align-items: center;

		.text {
			font-family: $title-font;
			font-size: $title-6;
			font-weight: 900;
		}

		.icon {
			font-size: $title-4;
		}

		&:hover {
			color: $white;
			color: rgba($white, .6);
		}
	}

	.main-video {
		position: absolute;
		bottom: -10%;
		right: 5px;
		padding-left: 40px;

		.play-btn-container {
			position: absolute;
			left: 0;
			top: 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 40px;
			cursor: pointer;
		}

		.play-btn {
			position: relative;
			width: 140px;
			margin-bottom: 15px;

			.play-icon {
				width: 50px;
			}

			&:hover {
				.play-icon {
					width: 60px;
				}
			}
		}

		@media (max-width: 1199px) {
			position: relative;
			bottom: 0;
			display: flex;
			justify-content: center;

			.play-btn-container {
				position: relative;
				flex-direction: row;
				display: inline-flex;

				.play-btn {

					&:hover {
						.play-icon {
							width: 55px;
						}
					}
				}

			}
		}
	}
}

/***********************************************
			     About Section
************************************************/
#about {
	position: relative;

	@media (min-width: 1200px) {
		padding-top: 60px;
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		padding-top: 40px;

		.bear-desk {
			max-width: 70%;
		}
	}

	.bear-desk {
		position: absolute;
		left: 54%;
		top: 0;
	}
}

/***********************************************
			     Astro Bears
************************************************/
.astro-bears {
	/*margin-top: -40px;

	@media (min-width: 1200px) {
		margin-top: -80px;
	}
*/
	
	.astro-bear-2 {
		margin-top: 55%;
	}

	.astro-bear-3 {
		margin-top: 30%;
	}

	.astro-bear-4 {
		margin-top: 100%;
		margin-left: -5%;
	}

	.astro-bear-5 {
		margin-top: 74%;
		margin-left: -10%;
	}

	.astro-bear-6 {
		margin-top: 54%;
		margin-left: -10%;
	}

	.astro-bear-7 {
		margin-top: 45%;
		margin-left: -20%;
	}

	.astro-bear-7 {
		margin-top: 70%;
	}

	.astro-bear-8 {
		margin-top: 90%;
	}

	.astro-bear-9 {
		margin-top: 25%;
	}


	@media (max-width: 767px) {
		flex-wrap: wrap;

		li {
			max-width: 20%;
		}

		.astro-bear-1 {
			margin-top: -20%;
		}

		.astro-bear-2 {
			margin-top: 10%;
		}

		.astro-bear-3 {
			margin-top: -5%;
			width: 80%;
		}

		.astro-bear-4 {
			margin-top: -20%;
			width: 90%;
		}

		.astro-bear-5 {
			margin-top: -10%;
		}

		.astro-bear-6 {
			margin-top: 0;
			width: 80%;
		}

		.astro-bear-7 {
			margin-top: -10%;
			margin-left: 40%;
			width: 70%;
		}

		.astro-bear-8 {
			margin-top: -45%;
			width: 80%;
		}

		.astro-bear-9 {
			margin-top: -20%;
		}
	}
}

/***********************************************
			      Video Thumb
************************************************/
.video-holder {
	display: inline-block;
	position: relative;

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background: $main-col;
		opacity: .2;
		right: -6%;
		top: -8%;
		transform: rotate(-2deg);
		z-index: -1;
	}

	.play-btn {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	
}

.play-btn {	
	display: inline-block;	
	cursor: pointer;

	.play-icon, .line-2-icon, .line-3-icon {
		position: absolute;
	}

	.line-2-icon, .line-3-icon {
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.play-icon {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include tr($tr);
		width: 70px;
		height: auto;

	}

	&:hover {
		.play-icon {
			width: 85px;
			opacity: .8;
		}
	}
}

/***********************************************
			      Mint Section
************************************************/
.bears-seciton {
	position: relative;

	.mint-bear-1 {
		position: absolute;
		left: 0;
		top: 5%;
	}

	.mint-bear-2 {
		position: absolute;
		right: 0;
		top: 20%;
	}

	@media (max-width: 1299px) {
		.mint-bear-1, .mint-bear-2 {
			width: 150px;
		} 
	}

	@media (max-width: 1199px) {
		.mint-bear-1, .mint-bear-2 {
			width: 120px;
		} 
	}

	@media (max-width: 767px) {
		.mint-bear-1, .mint-bear-2 {
			display: none;
		} 
	}
}


.phase-item {
	padding-top: 20px;

	.phase-image {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.phase-title {
		font-family: $text-font;
		font-weight: bold;
		text-transform: uppercase;
	}
}

/***********************************************
			      Ul List
************************************************/
.checklist {
	margin: 0;
	padding: 0;

	li {
		margin: 0 0 10px 0;
		padding: 0;
		position: relative;
		list-style: none;
		padding-left: 25px;

		&:before {
			position: absolute;
			left: 0;
			top: 6px;
			color: $main-col;
		}
	}
}

/***********************************************
			      Bear Gif
************************************************/
.bear-gif-holder {
	position: relative;

	.base-gif {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}

	.bear-gif {
		position: relative;
		z-index: 1;
	}
}

/***********************************************
			      Roadmap
************************************************/
.roadmap-item {
	display: flex;

	.num {
		font-size: $title-1;
		color: $sec-col-l;
		font-weight: bold;
		line-height: 1;
		margin-right: 20px;
	}

	.roadmap-title {
		font-family: $text-font;
	}

	@media (max-width: 1199px) {
		// .roadmap-item {
		// 	position: relative;
		// 	padding-left: 50px;
		// }

		// .num {
		// 	position: absolute;
		// 	left: 0;
		// 	top: 5px;
		// 	font-size: $title-3;
		// }
	}
}

.roadmap-list {
	padding: 0;

	li {
		list-style: none;
		position: relative;
		padding-left: 25px;
		margin-bottom: 10px;

		&:before {
			color: $main-col;
			position: absolute;
			left: 0;
			top: 6px;
			@include tr($tr);
			opacity: .4;
		}

		&:hover {
			&:before {
				transform: rotate(180deg);
				opacity: 1;
			}
		}
	}
}

.timeline-holder {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}


@media (max-width: 1199px) {
	.timeline-svg-1 {
		display: none;
	}

	.roadmap-holder {
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			border-left: 3px dashed $sec-col-m;
			left: 10%;
		}
	}
}

@media (max-width: 767px) {
	.roadmap-holder { 
		&:before {
			left: 5%;
		}
	}
}

// .roadmap-holder-1 {
// 	&:before {
// 		background: url(images/vectors/timeline-1.svg) no-repeat;
// 		margin-left: 3%;

// 		@media (max-width: 767px) {
// 			background: none;
// 			border-left: 3px dashed $sec-col-m;
// 			left: 3%;
// 			transform: none;
// 		}
// 	}
// }

// .roadmap-holder-2 {
// 	&:before {
// 		background: url(images/vectors/timeline-2.svg) no-repeat center bottom;

// 		@media (max-width: 767px) {
// 			background: none;
// 			border-left: 3px dashed $sec-col-m;
// 			left: 3%;
// 			transform: none;
// 		}
// 	}
// }

/***********************************************
			          Team
************************************************/
.team-member {
	display: flex;
	position: relative;
	padding: 20px 30px;

	.team-member-image {
		margin-right: 20px;

		&.image-top-left {
			align-self: flex-start;
			margin-top: -40px;
			margin-left: -50px;
		}

		&.image-top-right {
			align-self: flex-start;
			margin-top: -40px;
			margin-right: -50px;
		}

		&.image-middle-left {
			align-self: center;
			margin-left: -50px;
			margin-top: 20px;
		}
	}

	.team-member-position {
		font-size: $small;
		text-transform: uppercase;
		display: block;
		margin-bottom: 15px;
		font-weight: bold;
		@extend .text-muted;
	}

	&:before {
		content: "";
		display: block;
		background: $sec-col-bd;
		background: rgba($sec-col-bd, .8);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	&.team-style-1 {
		&:before {
			transform: rotate(-2deg);
		}
	}

	&.team-style-2 {
		&:before {
			transform: rotate(2deg);
		}
	}

	@media (max-width: 680px) {
		flex-direction: column;

		.team-member-image {
			margin-right: 0;

			&.image-top-left, &.image-top-right, &.image-middle-left {
				align-self: center;
				margin-left: 0;
				margin-right: 0;
				order: 1;
				margin-top: -40px;
			}
		}

		.team-member-info {
			order: 2;

			h4, .team-member-position {
				text-align: center;
			}
		}
	}
}

/***********************************************
			      Accordion
************************************************/
.accordion {
	.accordion-item {
		position: relative;
		padding-bottom: 45px;

		.accordion-heading {	

			button {
				display: block;
				width: 100%;
				background: none;
				border: none;
				font-weight: 900;
				color: $light;
				text-align: left;
				@include tr($tr);
				outline: none !important;

				.icon {
					@include tr($tr);
				}

				.icon-minus {
					color: $main-col-d;
				}

				.icon-plus {
					color: $sec-col-m;
				}

				&.collapsed {
					.icon-minus {
						display: none;
					}
				}

				&:not(.collapsed) {
					color: $main-col;

					.icon-plus {
						display: none;
					}
				}
			}
		}

		.accordion-body {
			text-align: left;
			padding: 20px 20px 0 35px;
		}

		&:hover {
			.accordion-heading {
				button {
					&:hover {
						color: $main-col;

						.icon-plus {
							color: $main-col-d;
						}
					}
				}
			}
		}

		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 20px;
			width: 100%;
			@include tr($tr);
		}

		&:nth-child(odd) {
			&:before {
				background: url(images/vectors/qa-line-1.svg) no-repeat;
			}

			&:after {
				background: url(images/vectors/qa-line-1-active.svg) no-repeat;
				opacity: 0;
			}

			&:hover {
				&:before {
					opacity: 0;
				}

				&:after {
					opacity: 1;
				}
			}
		}

		&:nth-child(even) {
			&:before {
				background: url(images/vectors/qa-line-2.svg) no-repeat;
			}

			&:after {
				background: url(images/vectors/qa-line-2-active.svg) no-repeat;
				opacity: 0;
			}

			&:hover {
				&:before {
					opacity: 0;
				}

				&:after {
					opacity: 1;
				}
			}
		}		
	}
}