
/***********************************************
			     Border Radius
************************************************/

$br: 100px;
$circle: 100%;

@mixin br($br) {
	border-radius: $br !important;
	-moz-border-radius: $br !important;
	-webkit-border-radius: $br !important;
}


/***********************************************
			  Transition Effect
************************************************/

$tr: all .4s ease-in-out;
$tr-slow: all 1.3s ease-in-out;

@mixin tr($tr){
	-webkit-transition: $tr;
  	-moz-transition: $tr;
  	-o-transition: $tr;
  	transition: $tr;
}


/***********************************************
			      Box Shadow
************************************************/
$btn-shadow: 0px 5px 0px rgba(255, 255, 255, 0.8);
$btn-shadow-hover: 0px 0px 0px rgba(255, 255, 255, 0.8);

@mixin shadow($btn-shadow) {
	-webkit-box-shadow: $btn-shadow;
	-moz-box-shadow: $btn-shadow;
	box-shadow: $btn-shadow;
}

